<div class="plist__header">
  <div class="plist__header__title">{{ title }}</div>
  <div class="plist__header__button">
    <a class="plist__header__link" href="{{ button_link }}">
      {{ button_text }}
    </a>
  </div>
</div>
