/* Example SCSS Variables */

// Colors
$white: #fff;
$black: #000;

// Pallette
$backgroundColor: #faf9f6;
$textColor: #242424;
$accent: #f5f5f5;

// Breakpoints
$xsmall: 320px;
$small: 575px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1680px;

// Misc
$i: !important;

$barlow: "Barlow", sans-serif;
$cormorant: "Cormorant", serif;
