@import "Helpers/_helpers";
.fcollection {
  max-width: 100vw;
  margin-bottom: 5rem;
  overflow: hidden;

  &__title {
    margin: 0;
  }

  &__header {
    position: relative;
    margin-bottom: 3rem;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &__block {
      max-width: 700px;
      min-height: 300px;
      width: 100%;
      min-width: 300px;
      background-color: rgba(255, 255, 255, 0.65);
      backdrop-filter: blur(15px);
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        margin-top: 0;
        text-align: center;
        font-family: $cormorant;
        font-weight: 300;
        font-size: 2.3rem;
        line-height: 1;
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
        font-size: 0.85rem;
      }
    }
  }

  &__link {
    padding: 0.5rem 1rem;
    border: 1px solid $black;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 2rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &__media {
    position: relative;
    padding-bottom: 52.65%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
